<a href="https://colab.research.google.com/github/GenaroHacker/curso-GO/blob/master/sql_interface.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import sqlite3

def CreateTable( DATABASE_NAME , TABLE_NAME , TABLE_STRUCTURE ):
    myConnection=sqlite3.connect(DATABASE_NAME)
    myCursor=myConnection.cursor()
    myCursor.execute('''
        CREATE TABLE ''' + TABLE_NAME + ''' ( ''' + TABLE_STRUCTURE + ''' )
    ''')
    myConnection.commit()
    myConnection.close()

def InsertRecord(DATABASE_NAME, RECORD):
    myConnection=sqlite3.connect(DATABASE_NAME)
    myCursor=myConnection.cursor()
    myCursor.execute(RECORD)
    myConnection.commit()
    myConnection.close()

def InsertSeveralRecords(DATABASE_NAME, MULTIPLE_RECORDS):
    myConnection=sqlite3.connect(DATABASE_NAME)
    myCursor=myConnection.cursor()
    for i in MULTIPLE_RECORDS:
        myCursor.execute(i)
    myConnection.commit()
    myConnection.close()

def ReadRecords(DATABASE_NAME, TABLE_NAME):
    myConnection=sqlite3.connect(DATABASE_NAME)
    myCursor=myConnection.cursor()
    myCursor.execute("SELECT * FROM " + TABLE_NAME)
    records=myCursor.fetchall()
    myConnection.close()
    return records

def ReadLastRecord(DATABASE_NAME, TABLE_NAME):
    myConnection=sqlite3.connect(DATABASE_NAME)
    myCursor=myConnection.cursor()
    myCursor.execute("SELECT * FROM " + TABLE_NAME + " ORDER BY ID DESC LIMIT 1")
    records=myCursor.fetchall()
    myConnection.close()
    return records[0]

def UpdateRecord(DATABASE_NAME, RECORD):
    myConnection=sqlite3.connect(DATABASE_NAME)
    myCursor=myConnection.cursor()
    myCursor.execute(RECORD)
    myConnection.commit()
    myConnection.close()

def RemoveRecord(DATABASE_NAME, RECORD):
    myConnection=sqlite3.connect(DATABASE_NAME)
    myCursor=myConnection.cursor()
    myCursor.execute(RECORD)
    myConnection.commit()
    myConnection.close()

def RunCommand(DATABASE_NAME, COMMAND):
    myConnection=sqlite3.connect(DATABASE_NAME)
    myCursor=myConnection.cursor()
    myCursor.execute(COMMAND)
    myConnection.commit()
    myConnection.close()

In [2]:
# TableCommands operations examples...

##Create one Table
try:
    columns = """
            ID INTEGER PRIMARY KEY AUTOINCREMENT,
            COMMAND VARCHAR(64),
            TIMES_TESTED INTEGER,
            TIMES_APPROVED INTEGER"""
    CreateTable("Vulcan","TableCommands",columns)
    print("Table created successfully!\n")
except sqlite3.OperationalError:
    print("Table already exists!!!!\n")


#Insert one record
InsertRecord("Vulcan","INSERT INTO TableCommands VALUES (NULL,'MOVE',0,0)")
print("Record inserted successfully!\n")


#Insert several records
InsertSeveralRecords("Vulcan",[
    "INSERT INTO TableCommands VALUES (NULL,'TURN',0,0)",
    "INSERT INTO TableCommands VALUES (NULL,'STOP',0,0)",
    "INSERT INTO TableCommands VALUES (NULL,'SPEED',0,0)"
])
print("Records inserted successfully!\n")


#Read all records
list_of_tuples = ReadRecords("Vulcan","TableCommands")
print("The list of tuples with all the records is:")
print(list_of_tuples)


#Read last record
last_record = ReadLastRecord("Vulcan","TableCommands")
print("\nThe last record is:")
print(last_record)


#Update record
UpdateRecord("Vulcan","UPDATE TableCommands SET COMMAND='MOVE NAME UPDATED' WHERE ID=3")
print("\nThe record with ID=3 has been updated successfully!\n")


#Remove record
RemoveRecord("Vulcan","DELETE FROM TableCommands WHERE ID=3")
print("The record with ID=4 has been removed successfully!\n")


#Run command
RunCommand("Vulcan","UPDATE TableCommands SET TIMES_TESTED=1 WHERE ID=1")
print("A specific command has been executed successfully!\n")

Table created successfully!

Record inserted successfully!

Records inserted successfully!

The list of tuples with all the records is:
[(1, 'MOVE', 0, 0), (2, 'TURN', 0, 0), (3, 'STOP', 0, 0), (4, 'SPEED', 0, 0)]

The last record is:
(4, 'SPEED', 0, 0)

The record with ID=3 has been updated successfully!

The record with ID=4 has been removed successfully!

A specific command has been executed successfully!

In [3]:
# TableTasks operations examples...

#Create one Table
try:
    columns = """
            ID INTEGER PRIMARY KEY AUTOINCREMENT,
            TASK VARCHAR(64),
            ASSOCIATED_COMMAND VARCHAR(64)"""
    CreateTable("Vulcan","TableTasks",columns)
    print("Table created successfully!\n")
except sqlite3.OperationalError:
    print("Table already exists!!!!\n")


#Insert one record
InsertRecord("Vulcan","INSERT INTO TableTasks VALUES (NULL,'MOVE FORWARD','MOVE')")
print("Record inserted successfully!\n")


#Insert several records
InsertSeveralRecords("Vulcan",[
    "INSERT INTO TableTasks VALUES (NULL,'TURN LEFT','TURN')",
    "INSERT INTO TableTasks VALUES (NULL,'STOP','STOP')",
    "INSERT INTO TableTasks VALUES (NULL,'SPEED UP','SPEED')"
])
print("Records inserted successfully!\n")


#Read all records
list_of_tuples = ReadRecords("Vulcan","TableTasks")
print("The list of tuples with all the records is:")
print(list_of_tuples)


#Read last record
last_record = ReadLastRecord("Vulcan","TableTasks")
print("\nThe last record is:")
print(last_record)


#Update record
UpdateRecord("Vulcan","UPDATE TableTasks SET TASK='MOVE FORWARD NAME UPDATED' WHERE ID=3")
print("\nThe record with ID=3 has been updated successfully!\n")


#Remove record
RemoveRecord("Vulcan","DELETE FROM TableTasks WHERE ID=3")
print("The record with ID=4 has been removed successfully!\n")


#Run command
RunCommand("Vulcan","UPDATE TableTasks SET ASSOCIATED_COMMAND='MOVE NAME UPDATED' WHERE ID=1")

Table created successfully!

Record inserted successfully!

Records inserted successfully!

The list of tuples with all the records is:
[(1, 'MOVE FORWARD', 'MOVE'), (2, 'TURN LEFT', 'TURN'), (3, 'STOP', 'STOP'), (4, 'SPEED UP', 'SPEED')]

The last record is:
(4, 'SPEED UP', 'SPEED')

The record with ID=3 has been updated successfully!

The record with ID=4 has been removed successfully!